{% extends "base.html" %}
{% block title %}Character Summary{% endblock %}

{% block content %}

<div class="container-fluid">

<h2>Summary for {{ char.shep_name }} Shepard</h2>

{% if one|length >= 1  %}

	<h2>Mass Effect</h2>
		
		{% for key, value in one.items() %}
			{% for k, v in value.items() %}
				{% if k == "outcome_desc" %}
					{{ v }}<br><br>
				{% endif %}

		{% endfor %}

		{% endfor %}


{% endif %}

{% if two|length >= 1 %}

	<h2>Mass Effect 2</h2>

		{% for key, value in two.items() %}
			{% for k, v in value.items() %}
				{% if k == "outcome_desc" %}
					{{ v }}<br><br>
				{% endif %}

		{% endfor %}

		{% endfor %}


{% endif %}


{% if three|length >= 1 %}

	<h2>Mass Effect 3</h2>

		{% for key, value in three.items() %}
			{% for k, v in value.items() %}
				{% if k == "outcome_desc" %}
					{{ v }}<br><br>
				{% endif %}

		{% endfor %}

		{% endfor %}


{% endif %}

{% if (one|length == 0) and (two|length == 0) and  (three|length == 0) %}
	
	There are no stats currently set for this character. 

{% endif %}

</div>

{% endblock %}