{% extends "base.html" %}
{% block title %}Add a Character{% endblock %}

{% block content %}

<div class="container-fluid">
	<h1>Add a new Shepard profile</h1>
	<form action="/char-added" method="POST">
		<label>Character name:</label>
		<input type="text" name="shep_name"><br><br>		
		<!-- need AJAX warning if too long + something that updates to say, ok ___ Shepard -->
		<label>What was your Shepard's gender identity?</label><br>
		<input type="radio" name="gender" value="Female"> Female <br>
		<input type="radio" name="gender" value="Male"> Male <br>
		<input type="radio" name="gender" value="Nonbinary"> Non-Binary <br>
		<label>What was your Shepard's pre-service history?</label><br>
		<input type="radio" name="background" value="Spacer"> Spacer <br>
		<input type="radio" name="background" value="Colonist"> Colonist <br>
		<input type="radio" name="background" value="Earthborn"> Earthborn <br>
		<label>What was your Shepard's psychological profile?</label><br>
		<input type="radio" name="psych" value="Sole Survivor"> Sole Survivor <br>
		<input type="radio" name="psych" value="War Hero"> War Hero <br>
		<input type="radio" name="psych" value="Ruthless"> Ruthless <br>
		<label>What was your Shepard's reputation?</label><br>
		<input type="radio" name="reputation" value="Paragon"> Paragon <br>
		<input type="radio" name="reputation" value="Renegade"> Renegade <br>
		<input type="radio" name="reputation" value="Paragade"> Paragade <br>
		<label>What was your Shepard's combat class?</label><br>
		<input type="radio" name="player_class" value="Adept"> Adept <br>
		<input type="radio" name="player_class" value="Sentinel"> Sentinel <br>
		<input type="radio" name="player_class" value="Vanguard"> Vanguard <br>
		<input type="radio" name="player_class" value="Soldier"> Soldier <br>
		<input type="radio" name="player_class" value="Infiltrator"> Infiltrator <br>
		<input type="radio" name="player_class" value="Engineer"> Engineer <br>
		<label>Finally, which games did you complete with this character?</label><br>
		<input type="checkbox" name="1" value="1"> Mass Effect <br>
		<input type="checkbox" name="2" value="2"> Mass Effect 2 <br>
		<input type="checkbox" name="3" value="3"> Mass Effect 3 <br>
		<br><br>
		<!-- add descriptions from http://n7hq.masseffect.com/codex/ under personal history summary-->

		<!-- before submit, ask if summary sounds right -->
		<input type="submit" value="Let's get started!">
	</form>
</div>


{% endblock %}

